* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}
.navi1 {
  height: 40px;
  width: 100%;
  background-color: #012a4a;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.navi1 h1 {
  color: white;
  font-size: 1.25em; /*20px*/
}
.tele {
  text-align: left;
  margin-left: 1.25rem; /*20px*/
}
.smicon {
  text-align: right;
  margin-right: 1.25rem; /*20px*/
}
.fa-brands.fa-facebook {
  margin-left: 1.875rem; /*30px*/
}
.navi1 h1:hover {
  color: #ffb703;
}
.navi2 ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  list-style: none;
}
.navi2 {
  margin-top: 1.875rem; /*30px*/
}
.navi2 ul li {
  text-align: center;
  text-decoration: none;
}
.navi2 ul li a {
  text-decoration: none;
  font-size: 1.25em; /*20px*/
  color: black;
  font-weight: bold;
  padding: 5px;
}
.navi2 ul li a:hover {
  color: black;
  background-color: #ffb703;
}
.box1 {
  height: 100%;
  width: 100%;
}
.box1 img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.box1 h1 {
  text-align: center;
  font-size: 6.25em; /*100px*/
  margin-top: 0.625rem; /*10px*/
}
.box2 {
  height: auto;
  width: auto;
  margin: 1.875rem; /*30px*/
}
.box2 p {
  text-align: justify;
}
.box3 {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #014f86;
  height: auto;
  width: 100%;
}
.box3 img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  margin: 1.25rem; /*20px*/
  border: 2px solid #a9d6e5;
}
.box3 p {
  text-align: justify;
  margin: 1.25rem; /*20px*/
  color: white;
}
.box4 {
  margin: 1.875rem; /*30px*/
}
.box4 p {
  text-align: justify;
  font-weight: bold;
}
.foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: auto;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.foot img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  margin: 1.875rem; /*30px*/
}
.foot p {
  color: white;
  text-align: justify;
  margin: 1.875rem; /*30px*/
}
.icon {
  margin: 1.875rem; /*30px*/
  color: white;
}

/*--------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .navi2 ul {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    list-style: none;
  }
  .box1 img {
    height: calc(400px - 60%);
    width: 100%;
  }
  .box1 h1 {
    font-size: 50px; /*100px*/
  }
  .box3 {
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(1, 78, 134);
    width: 100%;
  }
  .box3 img {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Ensures centering in some cases */
    text-align: center; /* Optional, in case there's text inside the image container */
  }
  .foot {
    display: grid;
    grid-template-columns: auto auto;
  }
  .foot img{
    height: 150px;
    width: 100px;
    margin: 10px; /*30px*/
}
.foot p {
    margin: 10px; /*30px*/
  }
  .icon {
    margin: 10px; /*30px*/
    color: white;
    
  }
}
@media screen and (max-width: 412px) {
  .navi1 h1 {
    color: white;
    font-size: calc(20px - 40%); /*20px*/
  }
  .tele {
    margin-left: 10px; /*20px*/
  }
  .smicon {
    margin-right: 10px; /*20px*/
  }
  .fa-brands.fa-facebook {
    margin-left: 15px; /*30px*/
  }
  .box1 img {
    height: calc(400px - 80%);
    width: 100%;
  }
  .box1 h1 {
    font-size: 40px; /*100px*/
  }
  .box3 img {
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Ensures centering in some cases */
    text-align: center; /* Optional, in case there's text inside the image container */
  }
  .foot {
    display: grid;
    grid-template-columns: auto;
  }
  .icon {
    display: flex;
  justify-content: center;
  }
  .icon h1{
    margin: 10px;
  }
}
